@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

:root {
    --main-bg-color: #001c43;
    --main-color: #00338e;
    --second-main-color: #912bcc;
    --text-color: #c4ced4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins";
}

html {
    overflow-x: hidden;
    font-size: 16px;
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2.5rem 4%;
    background: #031631;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo {
    font-size: 3.5rem;
    color: var(--text-color);
    font-weight: 800;
    letter-spacing: 9px;
}    

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-right: 2.5rem;
    font-weight: 700;
    transition: all 1s;
}

.navbar a:hover {
    color:var(--main-color);
    text-shadow: 1px 2px 4px var(--text-color);
}

.flex-content {
    position: relative;
    top: 12rem;
    padding: 0 4%;
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.introduction-text {
    font-size: 2rem;
    line-height: 1.8;
    font-weight: 600;
    flex-shrink: 2;
    text-shadow: 5px 4px 6px #080808;
}

#greeting {
    font-size: 4.5rem;
}

#name {
    color: var(--second-main-color);
    -webkit-text-stroke: 2px var(--text-color);
}

.personal-img {
    height: 45rem;
    border: 6px solid var(--text-color);
    border-radius: 50%;
}

.skills {
    position: relative;
    top: 15rem;
    text-align: center;
}

.skills-title {
    font-size: 2.75rem;
    letter-spacing: 2.5px;
    margin-bottom: 1rem;
    text-shadow: 5px 4px 6px #080808;
}

.flex-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.flex-logos i {
    position: relative;
    font-size: 4rem;
    color: var(--main-bg-color);
    border-radius: 50%;
    background: var(--main-color);
    padding: 8px;
}

.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

.bx:nth-child(2) {
    transition-delay: 200ms;
}

.bx:nth-child(3) {
    transition-delay: 400ms;
}

.bx:nth-child(4) {
    transition-delay: 600ms;
}

.bx:nth-child(5) {
    transition-delay: 800ms;
}

footer {
    position: relative;
    top: 18rem;
    bottom: 0;
    width: 100%;
    padding: 1.75rem 0;
    text-align: center;
    background-color: #020c1a;
    margin-top: 2rem;
}

